*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans" 
}

p{
    color: rgb(104, 104, 104);
    font-family: 'Work Sans', sans-serif;
}
img{
    width: 100%;
    display: block;
}
a{
    text-decoration: none;
    color: black;
}
 ul{
    list-style:circle;
} 

/**/
header{
 
}
.nav{
    height: 80px;
  
}

.nav-icon{
    color: black;
    margin: 0 20px;
    transition: all .2s;
}
.nav-icon:hover{
    color: red;
}
.collapse .navbar-nav li{
    transition: all .2s;
    padding: 0 15px;
}
.collapse .navbar-nav a:hover{
    color: red;
}
.collapse .navbar-nav .hot{
    position: relative;
}
.collapse .navbar-nav .hot::after{
   position: absolute;
    content: "HOT";
    background: #ff003c;
    color: #fff;
    text-align: center;
    border-color: #ff003c;
    border-radius: 8px;
    font-size: 10px;
    top: -10px;
    right: -13px;

}
/*///////////////////////////////////////////////////*/
.home{
    height: 80vh;
    background-image: url(../img/about_hero.png.webp);
    background-size: cover;

}
.home .row {
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home .row .home-content h1{
    color: #012f5f;
    font-size: 70px;
    font-weight: 800;
}
/*//////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
.blog{
    padding: 70px 0;
}
.blog .item .card .jan{
    width: 100px;
    height: 100px;
    font-size: 30px;
    background-color: red;
    margin-left: 30px;
    top: -50px;
    position: relative;
    border-radius: 10px;
    color: #fff;
    padding-left: 20px;
}
.blog .item .card .jan:hover{
    background-color:#fff;
    color: red;
}
.blog .item .card{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.267) ;
}
.blog .item .card .card-body{
    padding: 20px 30px;
}
.blog .item .card .card-body h3{
    font-size: 25px;
}
.blog .item .card .card-body a:hover{
    color: red;
    padding: 0;
}
/*/////////////////////////////////*/


/*////////////////////////////////////////////////////////*/
footer{
    padding: 70px 0;
}
footer .footer-area .footer-logo{
    width: 150px;
    margin-bottom: 40px;
}
footer .footer-area .footer-tittle .footer-pera{
    font-size: 18px;
}
footer .footer-area .single-footer-caption .footer-tittle h4{
    font-size: 20px;
    margin: 20px 0;
    font-weight: 500;
    text-transform: capitalize;
}
footer .footer-area .footer-tittle ul li{
    color: #012f5f;
    margin-bottom: 15px;
}
footer .footer-area .footer-tittle ul li a{
    color: #012f5f;
}
footer .footer-copy-right{
    padding-top: 70px;
}
 footer .footer-copy-right p {
    color: #888888;
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
}
.footer-social a{
    transition: all .5s;
}
.footer-social a:hover i{
    transform: rotatey('180deg');
    color: red;
}
.footer-social a{
    margin: 0 10px;
}

